.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #233;
  color: white;
  height: 50px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer .logo {
  height: 60px;
  width: 60px;
}

.footer .copyright {
  font-size: 14px;
  color: #aaa;
}

.footer .social-icons {
  display: flex;
  gap: 15px;
}

.footer .social-icons img {
  height: 30px;
  cursor: pointer;
}

.footer .social-icons img:hover {
  opacity: 0.8;
}
